" ============================================================================
" Netrw Directory Listing                                        (netrw v140)
"   /Users/tuttle/Projects/django-welcome/welcome/templates/email
"   Sorted by      name
"   Sort sequence: [\/]$,\<core\%(\.\d\+\)\=\>,\.h$,\.c$,\.cpp$,*,\.o$,\.obj$,\.info$,\.swp$,\.bak$,\~$
"   Quick Help: <F1>:help  -:go up dir  D:delete  R:rename  s:sort-by  x:exec
" ============================================================================
../
.DS_Store
notify_body.html
notify_subject.html
welcome_body.html
welcome_subject.html
New users!

{% for user in new_users %}
{{user.username}}
{{user.first_name}} {{user.last_name}}
{{user.email}}

https://twitter.com/{{user}}
https://github.com/{{user}}

{%endfor%}

Hooray!
